body {    
    margin: 0 auto;
}
html, body {
    height: 100%;
    width: 100%;
} 
#fondogaleria {
    display:flex;
    height: 80%;
    width: 100%;
    background-color: white;
}
.galeria{
    width: 90%;
    margin: auto;
    height: 85%;
}
#contenedor_principal {
    display: flex;
    width: 80%;
    height: 70%;
    margin: auto;
    justify-content: center
}
#ventanagaleria {    
    width: 55%;
    height: 100%;
    background: no-repeat center;
    background-size: contain;
    margin-right: 1em;
}
#descripcion_galeria {
    width: 25%;
    height: 100%;
    background-color: #f2f2f2;
}
#areanavegacion {
    height: 20%;
    width: 80%;
    display: flex;
    margin: 0 auto;
    margin-top: 2em;
}
#nav1 {
    background: url(iconos/ICOprevious.svg) no-repeat;
}
#nav2 {
    background: url(iconos/ICOnext.svg) no-repeat;
}
#nav1, #nav2 {
    background-position: center;
    width: 3%;
    height: 50%;
    margin: auto;
}
#nav1:hover {
    background: url(iconos/ICOprevious_hover.svg) no-repeat;
}
#nav2:hover {
    background: url(iconos/ICOnext_hover.svg) no-repeat;
}
#nav1:hover, #nav2:hover {
    background-position: center;   
    cursor: pointer;
}
#barragaleria {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
#barragaleria ul {
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    margin-left: "";
    white-space: nowrap;
    display: inline-flex;
}
#barragaleria li {
    height: 100%;
    display: inline-block;
    width: 12em;
    padding: 0;
    margin: 0;
    margin-right: 0.5em;
    opacity: 0.3;
    background-size: cover;
    background-position: center;
}
#barragaleria li:hover {
    cursor: pointer;
}
