/* index animacion */

.contenedor_index {
	width:100%;
	height:700px;
	overflow:hidden;	
}
.slider {
	display:flex;
	width:300%;
	animation: diapositivas 10s infinite alternate ease-in;	
}
@keyframes diapositivas {
		0% {margin-left:0;}
		25% {margin-left:0;}
		35% {margin-left:-100%;}
		65% {margin-left:-100%;}
		75% {margin-left:-200%;}
		100% {margin-left:-200%;}
}
#img01 {
	background:url(imagenes/index01_1400.jpg) no-repeat;
	background-size:100% 100%;	
	width:100%;
	height:700px;	
}
#img02 {
	background:url(imagenes/index02_1400.jpg) no-repeat;
	background-size:100% 100%;	
	width:100%;
	height:700px;	
}
#img03 {
	background:url(imagenes/index03_1400.jpg) no-repeat;
	background-size:100% 100%;	
	width:100%;
	height:700px;	
}


/* index textos */

.contenedor_index h1 {	
	margin:0;	
	background-color:rgba(247,147,30,0.5);		
	font-weight:400;
	font-style:italic;
	font-size:3em;	
	color:white;
	clear:both;
	display:block;
	padding:0.1em;
	}
.sub01 {
	float:right;	
	text-align:right;
	padding-left:1.5em;
	padding-right:0.8em;
	position:relative;
	top:15%;
}
.sub02 {
	float:left;
	text-align:left;
	padding-left:0.8em;
	padding-right:1.5em;
	position:relative;
	top:55%;
}
.sub03 {
	float:right;	
	text-align:right;
	padding-left:1.5em;
	padding-right:0.8em;
	position:relative;
	top:35%;	
}


/* subindex */

.contenedor_subindex {	
	width:100%;
	height:100px;
	background-color:#4D4D4D;	
	text-align:center;	
	padding-top:120px;	
}
#subindex01 {	
	background:url(iconos/subindex01.svg) no-repeat;
	background-size:160px 160px;
	background-position:top;		
}
#subindex02 {	
	background:url(iconos/subindex02.svg) no-repeat;
	background-size:160px 160px;
	background-position:top;		
}
#subindex03 {	
	background:url(iconos/subindex03.svg) no-repeat;
	background-size:160px 160px;
	background-position:top;		
}
.contenedor_subindex h2, .contenedor_subindex h3 {
	font-weight:400;	
	margin:0;	
}
.contenedor_subindex h2 {	
	font-size:1.4em;
	display:inline;	
	padding:3.1%;	
	padding-top:160px;
	color:#F7931E;	
}
h3 {
	font-size:1.6em;
	color:white;
	padding-top:0.6em;	
}