{% extends "layouts/default.nunjucks" %}
{% set menu = "index" %}
{% block content %}
        <section class="contenedor_index">
        	<div class="slider">
                <div id="img01">
                    <h1 class="sub01">${{i18n.inicio.banner.img01.cadena1}}$</h1><br>
                    <h1 class="sub01">${{i18n.inicio.banner.img01.cadena2}}$</h1>
                </div>
                <div id="img02">
                    <h1 class="sub02">${{i18n.inicio.banner.img02.cadena1}}$</h1><br>
                    <h1 class="sub02">${{i18n.inicio.banner.img02.cadena2}}$</h1>
                </div>
                <div id="img03">
                    <h1 class="sub03">${{i18n.inicio.banner.img03.cadena1}}$</h1><br>
                    <h1 class="sub03">${{i18n.inicio.banner.img03.cadena2}}$</h1>
                </div>
             </div>
        </section>
        <section class="contenedor_subindex">
            <h2 id="subindex01">${{i18n.inicio.footer.cadena1}}$</h2>
            <h2 id="subindex02">${{i18n.inicio.footer.cadena2}}$</h2>
            <h2 id="subindex03">${{i18n.inicio.footer.cadena3}}$</h2>
            <h3>${{i18n.inicio.footer.cadena4}}$</h3>
        </section>
{% endblock %}
