{% extends "layouts/default.nunjucks" %}
{% set menu = "nosotros" %}
{% block content %}
        <section class="contenedor_nosotros">
            <div class="descripcion">
                <h1>${{i18n.nosotros.titulo}}$</h1>
                <div class="arrow"></div>
            </div>
            <section id="subcontenedor_nosotros">
                <article id="nosotros1">
                    <h2 id="nst01">${{i18n.nosotros.seccion1.titulo}}$</h2>
                    <p>${{i18n.nosotros.seccion1.descripcion}}$</p>
                    <h2 id="nst02">${{i18n.nosotros.seccion2.titulo}}$</h2>
                    <p>${{i18n.nosotros.seccion2.descripcion}}$</p>
                </article>
                <article id="nosotros2">
                    <h2 id="nst03">${{i18n.nosotros.seccion3.titulo}}$</h2>
                    <p>${{i18n.nosotros.seccion3.descripcion}}$</p>
                    <h2 id="nst04">${{i18n.nosotros.seccion4.titulo}}$</h2>
                    <p>${{i18n.nosotros.seccion4.descripcion}}$</p>
                </article>
            </section>
        </section>
{% endblock %}
