{% extends "layouts/default.nunjucks" %}
{% set menu = "servicios" %}
{% block content %}
        <section class="contenedor_servicios">
            <div class="descripcion">
                <h1>${{i18n.servicios.titulo}}$</h1>
                <div class="arrow"></div>
            </div>
            <div id="servicios1">
                <ul>
                    <li><h2 id="serv01">${{i18n.servicios.reformas.titulo}}$</h2><p>${{i18n.servicios.reformas.descripcion}}$</p></li>
                    <li><h2 id="serv02">${{i18n.servicios.fontaneria.titulo}}$</h2><p>${{i18n.servicios.fontaneria.descripcion}}$</p></li>
                    <li><h2 id="serv03">${{i18n.servicios.pintura.titulo}}$</h2><p>${{i18n.servicios.pintura.descripcion}}$</p></li>
                    <li><h2 id="serv04">${{i18n.servicios.climatizacion.titulo}}$</h2><p>${{i18n.servicios.climatizacion.descripcion}}$</p></li>
                </ul>
            </div>
            <div class="servicios2">
                <ul>
                    <li><h2 id="serv05">${{i18n.servicios.electricidad.titulo}}$</h2><p>${{i18n.servicios.electricidad.descripcion}}$</p></li>
                    <li><h2 id="serv06">${{i18n.servicios.piscinas.titulo}}$</h2><p>${{i18n.servicios.piscinas.descripcion}}$</p> </li>
                    <li><h2 id="serv07">${{i18n.servicios.placas_solares.titulo}}$</h2><p>${{i18n.servicios.placas_solares.descripcion}}$</p></li>
                    <li><h2 id="serv08">${{i18n.servicios.limpiezas.titulo}}$</h2><p>${{i18n.servicios.limpiezas.descripcion}}$</p></li>
                </ul>
            </div>
        </section>
{% endblock %}
