body {
	background-color:grey;
	width:100%;
	max-width:1400px;
	height:100%;
	margin:0 auto;
	color:#333333;
}
body, html {
    height: 100%;
}
a {
	text-decoration:none;
	color:#333333;
}
a:hover {
	color:white;
}
.menu, .contenedor_index, .contenedor_subindex, .descripcion, footer {
	font-family:"Roboto", sans-serif;
}
#subcontenedor_nosotros, .contenedor_contacto, #formulario textarea {
    font-family:"Open sans", sans-serif;
}
.descripcion {
    width:100%;
    height:40px;
    background-color:#4D4D4D;
}
.descripcion h1 {
    margin:0;
    color:white;
    font-weight:300;
    font-size:1.3em;
    padding-left:25%;
    line-height:35px;
}
.arrow{
    display: inline-block;
    width:0;
    height:0;
    border-top:15px solid #4D4D4D;
    border-left:15px solid transparent;
    border-right:15px solid transparent;
    margin-left: 30%;
}
/*------- HEADER --------------*/
header {
	width:100%;
	height:100px;
	background-color:white;
	border-bottom:0.3em solid #333333;
	margin:0;
}
.logo {
	background:url(../iconos/logo01.svg) no-repeat center;
	height:80%;
	width:35%;
	float:left;
	margin-top:10px;
	margin-left:2%;
}
nav {
	width:55%;
	height:0px;
	float:right;
	/*para hacer el trapecio*/
	border-left:60px solid transparent;
	border-bottom: 100px solid #F7931E;
}
.menu {
	/*para centrar el contenido horizontal y verticalmente*/
	line-height:100px;
	text-align:center;
	margin:0;
}
.menu p {
	display:inline;
	padding:2.9%;
	font-weight:300;
	font-size:1.4em;
}
.marcado {
    color:white
}

/*------- FOOTER --------------*/
footer {
	text-align:center;
	color:white;
	background-color:#333333;
	width:100%;
	height:70px;
}
footer p {
	margin:0;
	line-height:70px;
	font-size:0.8em;
    font-weight:300;
}
