@media (max-width:1200px) {
	/* header */
	.menu li {
		font-size:1.3em;
        padding: 0 0.3em 0 0.3em;
	}
    body {
        background-color: #333333;
    }

}
@media (max-width:1050px){
    .menu li {
        font-size: 1.2em;
    }
}

/*-----------------------------------------------------------------------------------
---------------------------------- 899 -----------------------------------------------
-------------------------------------------------------------------------------------*/

@media (max-width:899px) {
	/* header */
	.menu li {
		font-size:1.05em;
	}
    /* section index */
	#img01 {
		background:url(../imagenes/index01_900.jpg) no-repeat;
	}
	#img02 {
		background:url(../imagenes/index02_900.jpg) no-repeat;
	}
	#img03 {
		background:url(../imagenes/index03_900.jpg) no-repeat;
	}
	/* section index */
	.contenedor_index h1 {
		font-size:2.5em;
	}
    /* section subindex */
    .contenedor_subindex {
		height:120px;
		padding-top:90px;
	}
	#subindex01, #subindex02, #subindex03 {
		background-size:120px 120px;
	}
    .contenedor_subindex h2 {
		font-size:1em;
		padding:4%;
		padding-top:120px;
	}
	h3 {
		font-size:1.2em;
	}

    /*section nosotros */
    .contenedor_nosotros h2 {
        font-size:1.1em;
    }
}

/*-----------------------------------------------------------------------------------
--------------------------------- 767 ---------------------------------------------
-------------------------------------------------------------------------------------*/

@media (max-width:767px) {

	/* header */

    header {
        height:80px;
    }
	.logo {
		height:90%;
		width:65%;
		margin-top:5px;
	}
	nav {
	    border-bottom:80px solid #F7931E;
		width:20%;
	}
	#iconomenu {
		background:url(../iconos/desplegable.svg) no-repeat center;
		width:40px;
		height:40px;
		position:absolute;
		top:1.4em;
		left:84%;
	}
  #iconomenu:hover {
      cursor: pointer;
  }
		.menu {
        z-index: 1;
        position: absolute;
        right: 0em;
        margin: 0;
        margin-top: 5.25em;
        width: 100%;
        background-color: white;
        line-height: 3em;
        display:none;
        border-bottom: 2px solid darkgrey;
    }
		.menu li {
        display: inline-block;
        line-height: 1.5em;
        width: 15%;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        border-right: 0.5px solid darkgrey;
		}
    #menu_lenguaje {
        flex-flow: row;
    }
    #menu_lenguaje li {
        width: 1.5em;
    }
    #lenguaje a{
        border: none;
        color: #F7931E;
    }
    #menu_lenguaje .submenu{
        background-color: white;
        display: none;
        border-right: none;
    }
    a:hover {
        color: #F7931E;
    }
    .marcado {
        color: #F7931E;
    }
    .descripcion {
        height:30px;
    }
    .descripcion h1 {
        line-height:25px;
        font-size:1.1em;
    }
    .arrow{
        margin-left: 35%
    }

	/* section index */

	#img01 {
		background:url(../imagenes/index01_768.jpg) no-repeat;
	}
	#img02 {
		background:url(../imagenes/index02_768.jpg) no-repeat;
	}
	#img03 {
		background:url(../imagenes/index03_768.jpg) no-repeat;
	}
    #img01, #img02, #img03 {
        background-position: center;
    }
	.contenedor_index {
		height:80%;
        max-height: 448px;
	}
	.contenedor_index h1 {
		font-size:1.8em;
	}
	.sub02 {
		top:40%;
	}

	/* section subindex */
    .contenedor_subindex {
		height:70px;
        padding-top: 70px;
	}
	#subindex01, #subindex02, #subindex03 {
		background-size:90px 90px;
	}
    .contenedor_subindex h2 {
		padding-top:90px;
	}
	h3 {
		font-size:1em;
	}

    /* section servicios */

    .contenedor_servicios {
        height:800px;
    }
    .contenedor_servicios h2 {
        font-size:1em;
        margin:0;
        padding-top:100px;
    }
    .contenedor_servicios p {
        font-size:0.9em;
        max-width:100px;
        padding-left:10px;
        padding-right:10px;
        margin:0;
    }
    #serv01, #serv02, #serv03, #serv04, #serv05, #serv06, #serv07, #serv08 {
        background-size:90px;
        background-position:top;
    }

    /* section nosotros */

    .contenedor_nosotros {
        height:800px;
    }
    #subcontenedor_nosotros{
        height:200px;
    }
    #nosotros1 {
        padding-top:240px;
    }
    .contenedor_nosotros h2 {
        font-size:1em;
        text-indent:0.5em;
    }
    .contenedor_nosotros p {
        font-size:0.9em;
    }
    #nst01 {
        background-color:#5FD3FF;
        width:90%;
    }
    #nst02 {
        background-color:#A9E77D;
        width:42%;
    }
    #nst03 {
        background-color:#FF5F81;
        width:80%;
    }
    #nst04 {
        background-color:#F7D22F;
        width:42%;
    }

    /* section contacto */

    #formulario {
        height:320px;
        width:80%;
        max-width: 620px;
        margin:auto;
        margin-top:2em
    }
    #infoformulario1 {
        height:50%;
        width:100%;
        float:none;
    }
    #infoformulario2 {
        height:50%;
        width:100%;
        float:none;
    }
    #infoformulario1 input {
        height:15%;
    }
    #infoformulario2 input {
        font-size:1em;
    }

    #infoformulario2 textarea {
        margin-top:0;
        height:75%;
    }

    #infocontacto1 {
        width:100%;
        height:100%;
        margin-top:1em;
        max-width:100%;
    }
    #contacto1, #contacto2 {
        float:none;
        margin:0 auto;
        width:100%;
    }
    #contacto1 {
        border-top:2px solid #F2F2F2;
        border-bottom:2px solid #F2F2F2;
    }
    #contacto1 p, #contacto2 p {
        margin:0;
        text-align:center;
        padding:0.5em;
    }
    #contacto1:before, #contacto2:before {
        margin:0;
        padding:0;
        width:100%;
        background-position:center;
    }


    #infocontacto2 {
        height:100%;
        margin:0;
    }
    #contacto3 {
        float:none;
        width:100%;
    }
    #contacto4 {
        float:none;
        width:100%;
        margin-top:0;
        display:flex;
        font-size:0.95em;
    }
    #contacto4 p:nth-child(1):before,
    #contacto4 p:nth-child(2):before {
        height:9em;
        float:left;
    }
    #contacto4 p:last-child {
        padding-left:1em;
    }
    #infocontacto2 h1 {
        font-size:1.1em;
    }

    /* Section GALERIA */

    #ventanagaleria {
        width: 90%;
    }
    #descripcion_galeria {
        display: none;
    }
    #fondogaleria {
        height: 600px;
    }


    .alerta_correo {
        height:320px;
        width:80%;
        max-width: 620px;
        margin:auto;
        margin-top:2em
    }
}

/*-----------------------------------------------------------------------------------
---------------------------------- 480 --------------------------------------------
-------------------------------------------------------------------------------------*/

@media (max-width:480px) {

    /* header */

    header {
        height:100px;
    }
	.logo {
		width:94%;
		height:70%;
        margin:2%;
    }
	nav {
		float:none;
		width:100%;
		height:25px;
		border:none;
		background-color:#F7931E;
		position:absolute;
		top:80px;
	}
	#iconomenu {
		width:30px;
		height:22px;
		position:absolute;
		top:2%;
		left:46.5%;
	}
	.menu {
			position: relative;
			margin-top: 1.75em;
			width: 100%;
	}
	.menu li {
			display:block;
			line-height: 1em;
			width: 90%;
			margin: auto;
			padding: 0;
			padding-top: 1.5em;
			padding-bottom: 1.5em;
			border-bottom: 0.5px solid darkgrey;
			border-right: none;
	}
	#menu_lenguaje .submenu {
			border: none;
	}
	#menu_lenguaje{
			margin: 0
	}
	#menu_lenguaje:before{
			content:"";
			width: 2em;
			height: 3em;
			display: block;
			background: url(../iconos/lang.svg) no-repeat;
			background-position: bottom;
	}
    a:hover {
        color: #F7931E;
    }
    .marcado {
        color: #F7931E;
    }
    .descripcion {
        height:30px;
    }
    .descripcion h1 {
        line-height:30px;
        font-size:1em;
        padding:0;
        text-align:center;
    }
    .arrow {
        position: absolute;
        margin-left: 47%;
        border-top:10px solid #4D4D4D;
        border-left:10px solid transparent;
        border-right:10px solid transparent;
    }


	/* section index */

	#img01, #img02, #img03 {
		background-image:none;
		height:100%;
        text-align: center;
        margin: auto;
	}
    #img02{
        background-color: #b41d68;
    }
    #img01{
        background-color: #37bf76;
    }
    #img03{
        background-color: #5faac6;
    }
	.contenedor_index {
        height: 65%;
		min-height:280px;
        max-height: 1400px;
	}
	.contenedor_index h1 {
		font-size:2.2em;
        line-height: 1.3em;
        padding:0;
        background-color:transparent;
	}
	.sub01, .sub02, .sub03 {
        top: 15%;
        max-width:90%;
	}


	/* section subindex */

	.contenedor_subindex {
		padding-top:55px;
	}
	#subindex01, #subindex02, #subindex03 {
		background-size:80px 80px;
	}
    .contenedor_subindex h2 {
		font-size:0.8em;
		padding:4%;
		padding-top:80px;
	}
	h3 {
		font-size:1em;
	}

    /* section servicios */

    .contenedor_servicios {
        height: 1300px;
    }
    #servicios1 {
        height: 50%;
    }
    .contenedor_servicios ul {
        flex-wrap: wrap;
        width:90%;
        margin:auto
    }
    .contenedor_servicios h2 {
        font-size:1em;
        padding-top:100px;
        margin:0;
    }
    .contenedor_servicios p {
        font-size:0.9em;
        max-width:120px;
        padding-bottom:20px;
    }

    /* section nosotros */


    .contenedor_nosotros {
        width:100%;
        height:1200px;
        background-color:#4D4D4D;
    }
    #subcontenedor_nosotros{
        border:0;
        width:100%;
        height:100%;
        background-image:none;
    }
    .contenedor_nosotros article {
        width:100%;
    }
    #nosotros1, #nosotros2 {
        padding-top:55%;
        background-repeat:no-repeat;
        background-position:top;
        background-size:90%;
    }
    #nosotros1 {
        background-image:url(../iconos/nst02.svg);
        background-color: white;
    }
    #nosotros2 {
        background-image:url(../iconos/nst03.svg);
        background-color: white;
    }
    .contenedor_nosotros h2, .contenedor_nosotros p{
        padding-left:5%;
        padding-right:5%;
    }
    .contenedor_nosotros h2 {
        font-size:1.1em;
        text-indent:0em;
    }
    .contenedor_nosotros p {
        padding-bottom:2em;
        padding-top:1em;
        text-indent:2em;
        background-color:#4D4D4D;
    }
    #nst01, #nst02, #nst03, #nst04 {
        width:90%;
    }

    /* section contacto */

    #infocontacto2 {
        height:100%;
        margin-top:0;
    }
    #contacto3 {
        float:none;
        width:100%;
        text-align:center;
    }
    #contacto4 {
        display:block;
        font-size:0.9em;
        max-width:15em;
        margin:auto;
    }
    #contacto4 p:nth-child(1):before,
    #contacto4 p:nth-child(2):before {
        width:1em;
        height:3em;
    }
    #contacto4 p:last-child {
        margin-bottom:0;
        padding-bottom:2em;
        padding-left:2em;
    }
    #infocontacto2 h1 {
        font-size:1.1em;
    }

    /* Section GALERIA */
    #fondogaleria {
        height: 80%;
    }
    #ventanagaleria {
        width: 100%;
        margin: 0;
    }
    #nav1, #nav2 {
        width: 1.5em;
    }
    #areanavegacion {
        width: 95%;
    }
	/* footer */

	footer p {
		font-size:0.55em;
	}

}
